<p id="notice"><%= notice %></p>

<tr>
  <strong>Title:</strong>
  <%= @movie.title %>
</tr>

<tr>
  <strong>Description:</strong>
  <%= @movie.description %>
</tr>

<tr>
  <strong>Movie length:</strong>
  <%= @movie.movie_length %>
</tr>

<tr>
  <strong>Director:</strong>
  <%= @movie.director %>
</tr>

<tr>
  <strong>Rating:</strong>
  <%= @movie.rating %>
</tr>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>

<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  })
</script>